out
cscope.*
assets/masks/char_*_[234].png
assets/masks/char_*_[234]zout.png
assets/masks/pos[1234]_square[234]_final.png
node_modules
assets/masks/*.ppm
assets/masks/track_banshee.png
assets/masks/track_banshee_zout.png
assets/masks/track_bowser.png
assets/masks/track_bowser_zout.png
assets/masks/track_dk.png
assets/masks/track_dk_zout.png
assets/masks/track_luigi.png
assets/masks/track_luigi_zout.png
assets/masks/track_rainbow.png
assets/masks/track_rainbow_zout.png
assets/masks/track_toad.png
assets/masks/track_toad_zout.png
assets/masks/track_wario.png
assets/masks/track_wario_zout.png
assets/masks/track_yoshi.png
assets/masks/track_yoshi_zout.png
test/frames_*.mov_*
