/*
 * kart.css: CSS styles
 */

/*
 * General rules.
 */

html, body {
	font-family: sans-serif;
	font-size: small;
	color: #1F1F66;
	margin: 0;
	padding: 0;
	background-image: url('../img/StartScreen-light.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

tr {
	vertical-align: top;
}

div.kBody {
	position: absolute;
	width: 100%;
	min-height: 95%;
}


/*
 * Reusable page blocks.
 */

.kDlgUnclosable .ui-dialog-titlebar-close {
	display: none;
}

.kWarning {
	color: #cc0000;
}

.kHeader {
	color: #000044;
	font-size: xx-large;
	font-weight: bold;
	margin-right: 30px;
	text-shadow: 1px 1px 1px #cccccc;
}

.kKartlyticsTitle {
	color: #000044;
	font-size: large;
	font-weight: bold;
	margin-right: 30px;
	text-shadow: 1px 1px 1px #cccccc;
}

.kKartlyticsTitle a {
	color: #000044;
	text-decoration: none;
}

.kSubHeader {
	color: #000044;
	font-size: large;
	font-weight: bold;
	margin-right: 30px;
}

th {
	color: #000044;
}

.kHorizontalSeparator {
	border-bottom: 1px #000044 dashed;
}

div.kProgressBar {
	height: 10px;
}


/*
 * The "Console" is the actual body of the page where the real content lives.
 */
.kConsole {
	background: #eeeeee;
	border: 2px #9999aa solid;
	border-radius: 10px;
	opacity: 0.8;

	position: absolute;
	margin-left: 5%;
	margin-right: 5%;
	min-width: 85%;

	margin-top: 4%;
	margin-bottom: 5%;
	min-height: 85%;

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;

	box-shadow: 3px 3px 4px #777;
}

	.kConsoleHeader {
		height: 40px;
	}

	.kConsoleHeaderBox {
		text-align: left;
		line-height: 1.6em;
		width: 350px;
		float: right;
	}

	.kConsoleHeaderBox > * {
		margin-right: 10px;
	}

	.kConsole > div {
		margin-bottom: 10px;
	}

.kDataTable {
	margin-left: 30px;
	margin-right: 30px;
}

	.kDataTable th {
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	.kDataTable td {
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	.kDataTable .kDataColumnUploaded {
		white-space: nowrap;
	}

	.kDataTable .kDataColumnState {
		white-space: nowrap;
	}

	.kDataTable .kDataColumnVideoName {
		white-space: nowrap;
	}


/*
 * kPropertyTable: Configure a list of key-value pairs.
 */
	table.kPropertyTable td {
		padding-top: 7px;
		padding-bottom: 7px;
	}

	table.kPropertyTable td.kTableLabel {
		font-weight: bold;
		text-align: right;
		padding-right: 8px;
		white-space: nowrap;
		width: 25%;
	}
	
	table.kPropertyTable td.kTableValue {
		padding-left: 8px;
		white-space: nowrap;
		width: 75%;
	}

		/*
		 * Space out both the labels for radio buttons and other buttons
		 * in the table.  We use padding on the radio button labels so
		 * that the extra space is still clickable, and we use margin on
		 * the other buttons because padding doesn't work.
		 */
		table.kPropertyTable td.kTableValue label {
			padding-right: 15px;
		}
		
		table.kPropertyTable td.kTableValue input[type="button"] {
			margin-right: 10px;
		}

td.kDataLabel {
	font-weight: bold;
	white-space: nowrap;
}


/*
 * Player configuration table
 */
table.kPlayerTable th {
	text-align: left;
}

td.kPlayerNumber {
	width: 30px;
}

td.kPlayerCharacter {
	width: 100px;
}

td.kPlayerPlace {
	width: 50px;
}

td.kPlayerHuman {
	width: 300px;
}

/*
 * Race table
 */
td.kDataRaceID, td.kDataVideoID {
	font-family: monospace;
	text-align: right;
}

td.kDataRaceNPl, th.kDataRaceNPl {
	width: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

td.kDataRaceMode, th.kDataRaceMode {
	width: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

td.kDataRaceLvl, th.kDataRaceLvl {
	width: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

td.kDataRaceRank, th.kDataRaceRank {
	width: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

td.kDataRaceLvl {
	text-align: right;
}

td.kDataRacePl, th.kDataRacePl {
	width: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

td.kDataRaceDate {
	white-space: nowrap;
}

td.kDataRaceTrack {
	white-space: nowrap;
}

td.kDataRaceVStart {
	text-align: right;
}

td.kDataRaceVEnd {
	text-align: right;
}

td.kDataRaceTime {
	text-align: right;
	width: 20px;
}

td.kDataDateTime {
	white-space: nowrap;
}

/*
 * Player results table
 */
table td.kDataPlayerNum, table th.kDataPlayerNum {
	width: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

td.kDataPlayerNum, td.kDataPlayerTime, td.kDataPlayerPercentage,
th.kDataPlayerNum, th.kDataPlayerTime, th.kDataPlayerPercentage {
	text-align: right;
}

table.kDynamic {
	margin-bottom: 20px;
}
