/*
 * kart.css: CSS styles
 */

/*
 * General rules.
 */

html, body {
	font-family: sans-serif;
	font-size: small;
	color: #000044;
	margin: 0;
	padding: 0;
}

tr {
	vertical-align: top;
}

div.kBody {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background-image: url('../img/StartScreen-light.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/*
 * Reusable page blocks.
 */

.kDlgUnclosable .ui-dialog-titlebar-close {
	display: none;
}

.kWarning {
	color: #cc0000;
}

.kHeader {
	font-size: x-large;
	font-weight: bold;
	margin-right: 30px;
	text-shadow: 1px 1px 1px #cccccc;
}

.kSubHeader {
	font-size: large;
	font-weight: bold;
	margin-right: 30px;
}

.kHorizontalSeparator {
	border-bottom: 1px #000044 dashed;
}

div.kProgressBar {
	height: 10px;
}


/*
 * The "Console" is the actual body of the page where the real content lives.
 */
.kConsole {
	background: #eeeeee;
	border: 1px #000044 solid;
	border-radius: 10px;
	opacity: 0.6;

	position: absolute;
	margin-left: 5%;
	margin-right: 5%;
	min-width: 85%;

	margin-top: 4%;
	margin-bottom: 5%;
	min-height: 85%;

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;

	box-shadow: 3px 3px 4px #000;
}

	.kConsoleHeader > * {
		margin-right: 10px;
	}

	.kConsole > div {
		margin-bottom: 10px;
	}

.kDataTable {
	margin-left: 30px;
	margin-right: 30px;
}

	.kDataTable th {
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	.kDataTable td {
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	.kDataTable .kDataColumnUploaded {
		white-space: nowrap;
	}

	.kDataTable .kDataColumnState {
		white-space: nowrap;
	}


/*
 * kPropertyTable: Configure a list of key-value pairs.
 */
	table.kPropertyTable td {
		padding-top: 7px;
		padding-bottom: 7px;
	}

	table.kPropertyTable td.kTableLabel {
		font-weight: bold;
		text-align: right;
		padding-right: 8px;
		white-space: nowrap;
		width: 25%;
	}
	
	table.kPropertyTable td.kTableValue {
		padding-left: 8px;
		white-space: nowrap;
		width: 75%;
	}

		/*
		 * Space out both the labels for radio buttons and other buttons
		 * in the table.  We use padding on the radio button labels so
		 * that the extra space is still clickable, and we use margin on
		 * the other buttons because padding doesn't work.
		 */
		table.kPropertyTable td.kTableValue label {
			padding-right: 15px;
		}
		
		table.kPropertyTable td.kTableValue input[type="button"] {
			margin-right: 10px;
		}


/*
 * Player table
 */
table.kPlayerTable th {
	text-align: left;
}

td.kPlayerNumber {
	width: 30px;
}

td.kPlayerCharacter {
	width: 100px;
}

td.kPlayerPlace {
	width: 50px;
}

td.kPlayerHuman {
	width: 300px;
}
